doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Login - CADMAS
    link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Quicksand', rel='stylesheet')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h2
        a(href='/'): img(src='/images/logo.png')
      nav
        li
          a(href='#') Home
        li
          a(href='#') About
        li
          a(href='#') Contacts
    section.start
      .background-image(style='background-image: url(/images/background2.jpg);')
      h1 Just one more step to the dashboard
      p
        h4 #{user}
        h4 #{password}
      br
      form.form-signin(action='login', method='post', name='login')
        .form-group
          input#usr.form-control(type='text', placeholder="Username", name="user" required)
        .form-group
          input#pwd.form-control(type='password', placeholder="Password", name="password" required)
        .form-group
          button.btn.btn-lg.btn-success.btn-block(name='Submit', value='Login', type='Submit') Login
    footer
      ul
        li
          a(href='#')
            i.fa.fa-twitter-square
        li
          a(href='#')
            i.fa.fa-facebook-square
        li
          a(href='#')
            i.fa.fa-snapchat-square
        li
          a(href='#')
            i.fa.fa-pinterest-square
        li
          a(href='#')
            i.fa.fa-github-square
      p
        | Made by&nbsp;
        a(href='http://tutorialzine.com/', target='_blank') Maximilian Bührer & Paul Stiegele
        script(src='/socket.io/socket.io.js')
