extends layout.pug

block content
  section.start
    .background-image(style='background-image: url(/images/background2.jpg);')
    h1 Just one more step to the dashboard
    p
      h4 #{welcome_message}
    br
    form.form-signin(action='login', method='post', name='login')
      .form-group
        input#usr.form-control(type='text', placeholder="Username", name="user" required)
      .form-group
        input#pwd.form-control(type='password', placeholder="Password", name="password" required)
      .form-group
        button.btn.btn-lg.btn-success.btn-block(name='Submit', value='Login', type='Submit') Login
