files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS server

      server {
          listen       443;
          server_name  localhost;

          ssl                  on;
          ssl_certificate      /etc/letsencrypt/live/cadmas.net/fullchain.pem;
          ssl_certificate_key  /etc/letsencrypt/live/cadmas.net/privkey.pem;

          ssl_session_cache shared:le_nginx_SSL:1m;
          ssl_session_timeout 1440m;
          ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
          ssl_prefer_server_ciphers on;
          ssl_ciphers "ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA:ECDHE-RSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-RSA-AES256-SHA256:DHE-RSA-AES256-SHA:ECDHE-ECDSA-DES-CBC3-SHA:ECDHE-RSA-DES-CBC3-SHA:EDH-RSA-DES-CBC3-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:DES-CBC3-SHA:!DSS";


          
          location /auth/ {
              proxy_pass https://127.0.0.1:8081/auth/;
              proxy_http_version 1.1;
              proxy_set_header Upgrade $http_upgrade;
              proxy_set_header Connection "upgrade";
              proxy_set_header Host $host;
          }
          location /client/ {
              proxy_pass https://127.0.0.1:8081/client/;
              proxy_http_version 1.1;
              proxy_set_header Upgrade $http_upgrade;
              proxy_set_header Connection "upgrade";
              proxy_set_header Host $host;
          }
          location /connector/ {
              proxy_pass https://127.0.0.1:8081/connector/;
              proxy_http_version 1.1;
              proxy_set_header Upgrade $http_upgrade;
              proxy_set_header Connection "upgrade";
              proxy_set_header Host $host;
          }
          location / {
              proxy_pass  https://127.0.0.1:8081;
              proxy_set_header   Connection "";
              proxy_http_version 1.1;
              proxy_set_header        Host            $host;
              proxy_set_header        X-Real-IP       $remote_addr;
              proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
          }
      }
  /etc/letsencrypt/live/cadmas.net/fullchain.pem:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIFXDCCBESgAwIBAgISAy0lk2ctMUNMt2DUomlx7tLWMA0GCSqGSIb3DQEBCwUA
      MEoxCzAJBgNVBAYTAlVTMRYwFAYDVQQKEw1MZXQncyBFbmNyeXB0MSMwIQYDVQQD
      ExpMZXQncyBFbmNyeXB0IEF1dGhvcml0eSBYMzAeFw0xODExMjcxMjAyMjFaFw0x
      OTAyMjUxMjAyMjFaMBUxEzARBgNVBAMTCmNhZG1hcy5uZXQwggEiMA0GCSqGSIb3
      DQEBAQUAA4IBDwAwggEKAoIBAQDZfFFBpqcZisK8ZXxqLWMLFuliNw/DO6w03CZj
      jZLlGswIdOvaSvxssobQKebQ5ZogWgOR+XDIyg9+5bpd56R/W4SePZlFcnloyfjk
      rU0OCfx9hlOTZjqzdyzhZgp9x43/owAvXpm90nZUbyCOHMuKp3nScHQ4uACvBZzz
      1kSuSoCYPbC0UKwj1UsnXRJFZwAfaHQ1RuAFYGXTt4nFuCoavk70EtmFGp9MiI9C
      o7jU6ytSIt4wy/v1C56DzT5oCgfLlzNdWDhibsztvVbV5UlDovDK3V/fFRk60hpd
      Th0y0asK1g7qtSWPLLpB/52qmydGfkexw4C48dyMGGnpysbXAgMBAAGjggJvMIIC
      azAOBgNVHQ8BAf8EBAMCBaAwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMC
      MAwGA1UdEwEB/wQCMAAwHQYDVR0OBBYEFNr36oLptm8RYcnZTE4dACoxQaG9MB8G
      A1UdIwQYMBaAFKhKamMEfd265tE5t6ZFZe/zqOyhMG8GCCsGAQUFBwEBBGMwYTAu
      BggrBgEFBQcwAYYiaHR0cDovL29jc3AuaW50LXgzLmxldHNlbmNyeXB0Lm9yZzAv
      BggrBgEFBQcwAoYjaHR0cDovL2NlcnQuaW50LXgzLmxldHNlbmNyeXB0Lm9yZy8w
      JQYDVR0RBB4wHIIKY2FkbWFzLm5ldIIOd3d3LmNhZG1hcy5uZXQwTAYDVR0gBEUw
      QzAIBgZngQwBAgEwNwYLKwYBBAGC3xMBAQEwKDAmBggrBgEFBQcCARYaaHR0cDov
      L2Nwcy5sZXRzZW5jcnlwdC5vcmcwggEEBgorBgEEAdZ5AgQCBIH1BIHyAPAAdgB0
      ftqDMa0zEJEhnM4lT0Jwwr/9XkIgCMY3NXnmEHvMVgAAAWdVQ26CAAAEAwBHMEUC
      IC6KW6Pw3uFLhRYROxfOm/PM+gfbLR4pmTl4Om+wV0iVAiEAvbANK20GYcVMwtSR
      SjoPKxU8mx/JQXN1je6gw6aRn40AdgApPFGWVMg5ZbqqUPxYB9S3b79Yeily3KTD
      DPTlRUf0eAAAAWdVQ24gAAAEAwBHMEUCIQDNQRGjGdzhLrbp4HRI2YmVKpV5x+E8
      f1zEMG/yQGNZJQIgRBrAItANzDc+FYvRrVsi+9m3q1XUR6WaX64iWA40k88wDQYJ
      KoZIhvcNAQELBQADggEBAFj4ub5HdCZ70ocVDgBd+JdJLl2j7fMPfaXWat1aUTa2
      lNJs6d8yjjRqovwpQI/LbeLsEJzDokNzxT1OqjMlKqCjxm4Pf08wLuq2GmzhvqLK
      cm11ovLYWSA5MJuPiNFKoiU3kSGXJZQCKGPJ/3dlEVmGXUhHFtTJTThlEh2ZKexq
      eeJW7/32FIRw7I876Z75zWdHHG7KAlzMdGYFgyvuu577++sJJQlMmT26U7UhWulz
      ejZOyEc6JJJ4EQzk+3rw4R4IVWJdh79+KedHS5QkQczCWnNJDzMDIVryW6mLy19G
      lussiX9AWGyrqykVMS5Qj0UUOErJvKP4dZHUu3BPEeg=
      -----END CERTIFICATE-----
      -----BEGIN CERTIFICATE-----
      MIIEkjCCA3qgAwIBAgIQCgFBQgAAAVOFc2oLheynCDANBgkqhkiG9w0BAQsFADA/
      MSQwIgYDVQQKExtEaWdpdGFsIFNpZ25hdHVyZSBUcnVzdCBDby4xFzAVBgNVBAMT
      DkRTVCBSb290IENBIFgzMB4XDTE2MDMxNzE2NDA0NloXDTIxMDMxNzE2NDA0Nlow
      SjELMAkGA1UEBhMCVVMxFjAUBgNVBAoTDUxldCdzIEVuY3J5cHQxIzAhBgNVBAMT
      GkxldCdzIEVuY3J5cHQgQXV0aG9yaXR5IFgzMIIBIjANBgkqhkiG9w0BAQEFAAOC
      AQ8AMIIBCgKCAQEAnNMM8FrlLke3cl03g7NoYzDq1zUmGSXhvb418XCSL7e4S0EF
      q6meNQhY7LEqxGiHC6PjdeTm86dicbp5gWAf15Gan/PQeGdxyGkOlZHP/uaZ6WA8
      SMx+yk13EiSdRxta67nsHjcAHJyse6cF6s5K671B5TaYucv9bTyWaN8jKkKQDIZ0
      Z8h/pZq4UmEUEz9l6YKHy9v6Dlb2honzhT+Xhq+w3Brvaw2VFn3EK6BlspkENnWA
      a6xK8xuQSXgvopZPKiAlKQTGdMDQMc2PMTiVFrqoM7hD8bEfwzB/onkxEz0tNvjj
      /PIzark5McWvxI0NHWQWM6r6hCm21AvA2H3DkwIDAQABo4IBfTCCAXkwEgYDVR0T
      AQH/BAgwBgEB/wIBADAOBgNVHQ8BAf8EBAMCAYYwfwYIKwYBBQUHAQEEczBxMDIG
      CCsGAQUFBzABhiZodHRwOi8vaXNyZy50cnVzdGlkLm9jc3AuaWRlbnRydXN0LmNv
      bTA7BggrBgEFBQcwAoYvaHR0cDovL2FwcHMuaWRlbnRydXN0LmNvbS9yb290cy9k
      c3Ryb290Y2F4My5wN2MwHwYDVR0jBBgwFoAUxKexpHsscfrb4UuQdf/EFWCFiRAw
      VAYDVR0gBE0wSzAIBgZngQwBAgEwPwYLKwYBBAGC3xMBAQEwMDAuBggrBgEFBQcC
      ARYiaHR0cDovL2Nwcy5yb290LXgxLmxldHNlbmNyeXB0Lm9yZzA8BgNVHR8ENTAz
      MDGgL6AthitodHRwOi8vY3JsLmlkZW50cnVzdC5jb20vRFNUUk9PVENBWDNDUkwu
      Y3JsMB0GA1UdDgQWBBSoSmpjBH3duubRObemRWXv86jsoTANBgkqhkiG9w0BAQsF
      AAOCAQEA3TPXEfNjWDjdGBX7CVW+dla5cEilaUcne8IkCJLxWh9KEik3JHRRHGJo
      uM2VcGfl96S8TihRzZvoroed6ti6WqEBmtzw3Wodatg+VyOeph4EYpr/1wXKtx8/
      wApIvJSwtmVi4MFU5aMqrSDE6ea73Mj2tcMyo5jMd6jmeWUHK8so/joWUoHOUgwu
      X4Po1QYz+3dszkDqMp4fklxBwXRsW10KXzPMTZ+sOPAveyxindmjkW8lGy+QsRlG
      PfZ+G6Z6h7mjem0Y+iWlkYcV4PIWL1iwBi8saCbGS5jN2p8M+X+Q7UNKEkROb3N6
      KOqkqm57TH2H3eDJAkSnh6/DNFu0Qg==
      -----END CERTIFICATE-----
      
      


  /etc/letsencrypt/live/cadmas.net/privkey.pem:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN PRIVATE KEY-----
      MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQDZfFFBpqcZisK8
      ZXxqLWMLFuliNw/DO6w03CZjjZLlGswIdOvaSvxssobQKebQ5ZogWgOR+XDIyg9+
      5bpd56R/W4SePZlFcnloyfjkrU0OCfx9hlOTZjqzdyzhZgp9x43/owAvXpm90nZU
      byCOHMuKp3nScHQ4uACvBZzz1kSuSoCYPbC0UKwj1UsnXRJFZwAfaHQ1RuAFYGXT
      t4nFuCoavk70EtmFGp9MiI9Co7jU6ytSIt4wy/v1C56DzT5oCgfLlzNdWDhibszt
      vVbV5UlDovDK3V/fFRk60hpdTh0y0asK1g7qtSWPLLpB/52qmydGfkexw4C48dyM
      GGnpysbXAgMBAAECggEAEUynNf6omgqElPHJpLR5hV9MLyjMEy6C8y1zzEVtotWv
      1xhdzl5al9bXjGVY29L3oI0obYsW4pHYC7MAUQnk9tBzyxaBQ5noeGJgbuguEejP
      cbimmzntf2sCYed4/CpMbEIt+Jagyg2cpfi08TjvI9dQhGG3jO9t9n4OzwKDMg3L
      gUeSL3cPvLhmz9AY2ErP/OyBqgPeaScueHgesiWSxPxfBD60MIrKPj/0hMoj28kC
      7pqEdSC1441Ym6rBoDfX6w6goz1Jn1ld3DVdqM888BmYKaOTiloG90J6+Vv/RNaZ
      vSanomRGQioTql8rlSdswUbNb9DRcJJaSxV1wFy/uQKBgQDyqBBWMv5Yr7/4H9sg
      3EtoF4j67TubIiAVJCTsboo9t35q8LMdYrobDMPNrzeZSBfYd8pj3q8C+zBb3ytk
      N7XwvJUY34k3kcaL6S9HXMF+FNKrfLQtlKYe7rn7vy66rfrsa5UM0LB6jE3kvTQg
      5v/4HU4eqxlDCy4Kdg9BntXikwKBgQDlceqw7ve2OGkG/+Z74EK4HHlZbw8HjP0O
      QoYiEP2ngsUe3QjK2sdPaCy6qgde88Mhw4mVM0PdgwDrFTgPLXUI65+oLK+UsnTT
      3x+ff5P4AHqD6BQFp7X46Hs1Q6rFh1mKPG3nSVBPvzt1yQOSKMSvWPFdffwj+eR7
      7eCmwS8hLQKBgDo7+y+0rTW7d+akPoJ0W+RvQYB2zoc8eVaZhgL3xFVrY/tmKJY0
      y1USiyshkcZHdvGMThYJqxacEc76j/9NH2zW1TFS9CtR4MRTAfWuXQFVHfnpw5Ps
      yLFDuX6hMyW5+y4h43Nf4fqHEWqDva7nwSZaYhUaGsXsOPBpxN+KrunhAoGBANrl
      f34lvfX+g1TGNuHf5kc4Ax2rsq8FdzdviABgLV7uh5kWTxkY+CVtwZ6kMDwKWxOP
      NWc+bXSbUvj0WXNBbvJ/uOX9G9XFG2g26jiEwmpMKpZFhzSN+DHruf/q+rVQl8Am
      PsP1UcWDL/sDN4DtnBedx0fmtfKsqasCGt18WLZRAoGAKayTASmbd6oazJUtITfA
      A0Lrs5I8dWwFXmiDispr8JeCnYf/AMZUiTJWK0Q0trdtZKj8zyTxkqMmSVLLygu8
      ITTd6DLn3WndD16hpDl85zAAs2t8+EVC8CLSKOWlwDtiOUZrDu8+0lcqGpbtqoRd
      A+vhrvyxn8OiY+g52ecHSjQ=
      -----END PRIVATE KEY-----
      
