files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS server

      server {
          listen       443;
          server_name  localhost;

          ssl                  on;
          ssl_certificate      /etc/letsencrypt/live/cadmas.net/fullchain.pem;
          ssl_certificate_key  /etc/letsencrypt/live/cadmas.net/privkey.pem;

          ssl_session_cache shared:le_nginx_SSL:1m;
          ssl_session_timeout 1440m;
          ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
          ssl_prefer_server_ciphers on;
          ssl_ciphers "ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA:ECDHE-RSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-RSA-AES256-SHA256:DHE-RSA-AES256-SHA:ECDHE-ECDSA-DES-CBC3-SHA:ECDHE-RSA-DES-CBC3-SHA:EDH-RSA-DES-CBC3-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:DES-CBC3-SHA:!DSS";


          
          location /auth/ {
              proxy_pass https://127.0.0.1:8081/auth/;
              proxy_http_version 1.1;
              proxy_set_header Upgrade $http_upgrade;
              proxy_set_header Connection "upgrade";
              proxy_set_header Host $host;
          }
          location /client/ {
              proxy_pass https://127.0.0.1:8081/client/;
              proxy_http_version 1.1;
              proxy_set_header Upgrade $http_upgrade;
              proxy_set_header Connection "upgrade";
              proxy_set_header Host $host;
          }
          location /connector/ {
              proxy_pass https://127.0.0.1:8081/connector/;
              proxy_http_version 1.1;
              proxy_set_header Upgrade $http_upgrade;
              proxy_set_header Connection "upgrade";
              proxy_set_header Host $host;
          }
          location / {
              proxy_pass  https://127.0.0.1:8081;
              proxy_set_header   Connection "";
              proxy_http_version 1.1;
              proxy_set_header        Host            $host;
              proxy_set_header        X-Real-IP       $remote_addr;
              proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
          }
      }
  /etc/letsencrypt/live/cadmas.net/fullchain.pem:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIFWzCCBEOgAwIBAgISA8nuNcvURYrrtRZEwg5DzWG6MA0GCSqGSIb3DQEBCwUA
      MEoxCzAJBgNVBAYTAlVTMRYwFAYDVQQKEw1MZXQncyBFbmNyeXB0MSMwIQYDVQQD
      ExpMZXQncyBFbmNyeXB0IEF1dGhvcml0eSBYMzAeFw0xOTAyMDUxODEzNDdaFw0x
      OTA1MDYxODEzNDdaMBUxEzARBgNVBAMTCmNhZG1hcy5uZXQwggEiMA0GCSqGSIb3
      DQEBAQUAA4IBDwAwggEKAoIBAQCsHfAJIoA93aIqIzqyFqkKHJOvlVYrvyfIJSGf
      FezypYNEqprnmEFgm6utA9Vz+5J0l4f5UjzIB7oOXelOAkdu24lXgRPfxJ0GY44d
      o52KEdp6UA7ElgFhYH+GhKc2iduLTRVoFu6ctOoYue97NbkXXv7BK9uesG3f7xCp
      qWlTyI/FA/TFAmUi5yw/Bjia2QQwEtH6FudyKB8Ygy2gk3T7nwZtgHZbr/zxrw5x
      xbYTj4ztympSthhKv5mp/zE2kqVF3hY7oVabDcyxrB8GDgrZy5qVDMywLzAArnBa
      /MlMNsiW1IMwBJvKpAZBv4gCS8CP8YE2v6jJrNEpQRDWn8gVAgMBAAGjggJuMIIC
      ajAOBgNVHQ8BAf8EBAMCBaAwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMC
      MAwGA1UdEwEB/wQCMAAwHQYDVR0OBBYEFPuq1paLvRLQvSc5rfbNpINcX+XcMB8G
      A1UdIwQYMBaAFKhKamMEfd265tE5t6ZFZe/zqOyhMG8GCCsGAQUFBwEBBGMwYTAu
      BggrBgEFBQcwAYYiaHR0cDovL29jc3AuaW50LXgzLmxldHNlbmNyeXB0Lm9yZzAv
      BggrBgEFBQcwAoYjaHR0cDovL2NlcnQuaW50LXgzLmxldHNlbmNyeXB0Lm9yZy8w
      JQYDVR0RBB4wHIIKY2FkbWFzLm5ldIIOd3d3LmNhZG1hcy5uZXQwTAYDVR0gBEUw
      QzAIBgZngQwBAgEwNwYLKwYBBAGC3xMBAQEwKDAmBggrBgEFBQcCARYaaHR0cDov
      L2Nwcy5sZXRzZW5jcnlwdC5vcmcwggEDBgorBgEEAdZ5AgQCBIH0BIHxAO8AdgDi
      aUuuJujpQAnohhu2O4PUPuf+dIj7pI8okwGd3fHb/gAAAWi/FKLCAAAEAwBHMEUC
      IQDnIxXq14Z6k9RLDL8xD5vBE2AQCna5BjxQIVCFtVWtyQIgMpjtd5JAwTQZMYSh
      8YvUXKTKoBjp89Fsbb0zb+VZi7kAdQApPFGWVMg5ZbqqUPxYB9S3b79Yeily3KTD
      DPTlRUf0eAAAAWi/FKLBAAAEAwBGMEQCIGi9k30XARxOr0Vy72xvE/evqhq8t3JO
      4z0TT2ummOfgAiBY6UfmJTwbaMLoMKM1eo7DnosIsBkqVhFFAx7/RkQDazANBgkq
      hkiG9w0BAQsFAAOCAQEASTNrEaoKYTUonKAz7Gk2AnmiWIGT8lXRnbfmVIrbiO7L
      rxuk9m6Hr8Kqi0y1muwLCeKewPHU8vpDO4o8YquqN+OnG0InWifNoZLRNdbv2C99
      ZsdeVmSXI5fAd7xlKVv/+G9OY2VGuExW/oEfvMjEerYhzQP3t2LOBbCstYOqkzvo
      3y/7c9DGdTC81/n7Swn7SpR7DlxXWh+Ppw8lmGKUJxlVIHNq925n/TrAoM/kJqmt
      XOfpH7rge4szvpBs0qLSYjVLwCcWnX5BmvSQ58PdqqXW5RvoaoCHXp4myEqT3JoG
      UJ02EQaWpCJRMKuKdSMvL+GARcpW3d2nqAQ/i+GaXg==
      -----END CERTIFICATE-----
      -----BEGIN CERTIFICATE-----
      MIIEkjCCA3qgAwIBAgIQCgFBQgAAAVOFc2oLheynCDANBgkqhkiG9w0BAQsFADA/
      MSQwIgYDVQQKExtEaWdpdGFsIFNpZ25hdHVyZSBUcnVzdCBDby4xFzAVBgNVBAMT
      DkRTVCBSb290IENBIFgzMB4XDTE2MDMxNzE2NDA0NloXDTIxMDMxNzE2NDA0Nlow
      SjELMAkGA1UEBhMCVVMxFjAUBgNVBAoTDUxldCdzIEVuY3J5cHQxIzAhBgNVBAMT
      GkxldCdzIEVuY3J5cHQgQXV0aG9yaXR5IFgzMIIBIjANBgkqhkiG9w0BAQEFAAOC
      AQ8AMIIBCgKCAQEAnNMM8FrlLke3cl03g7NoYzDq1zUmGSXhvb418XCSL7e4S0EF
      q6meNQhY7LEqxGiHC6PjdeTm86dicbp5gWAf15Gan/PQeGdxyGkOlZHP/uaZ6WA8
      SMx+yk13EiSdRxta67nsHjcAHJyse6cF6s5K671B5TaYucv9bTyWaN8jKkKQDIZ0
      Z8h/pZq4UmEUEz9l6YKHy9v6Dlb2honzhT+Xhq+w3Brvaw2VFn3EK6BlspkENnWA
      a6xK8xuQSXgvopZPKiAlKQTGdMDQMc2PMTiVFrqoM7hD8bEfwzB/onkxEz0tNvjj
      /PIzark5McWvxI0NHWQWM6r6hCm21AvA2H3DkwIDAQABo4IBfTCCAXkwEgYDVR0T
      AQH/BAgwBgEB/wIBADAOBgNVHQ8BAf8EBAMCAYYwfwYIKwYBBQUHAQEEczBxMDIG
      CCsGAQUFBzABhiZodHRwOi8vaXNyZy50cnVzdGlkLm9jc3AuaWRlbnRydXN0LmNv
      bTA7BggrBgEFBQcwAoYvaHR0cDovL2FwcHMuaWRlbnRydXN0LmNvbS9yb290cy9k
      c3Ryb290Y2F4My5wN2MwHwYDVR0jBBgwFoAUxKexpHsscfrb4UuQdf/EFWCFiRAw
      VAYDVR0gBE0wSzAIBgZngQwBAgEwPwYLKwYBBAGC3xMBAQEwMDAuBggrBgEFBQcC
      ARYiaHR0cDovL2Nwcy5yb290LXgxLmxldHNlbmNyeXB0Lm9yZzA8BgNVHR8ENTAz
      MDGgL6AthitodHRwOi8vY3JsLmlkZW50cnVzdC5jb20vRFNUUk9PVENBWDNDUkwu
      Y3JsMB0GA1UdDgQWBBSoSmpjBH3duubRObemRWXv86jsoTANBgkqhkiG9w0BAQsF
      AAOCAQEA3TPXEfNjWDjdGBX7CVW+dla5cEilaUcne8IkCJLxWh9KEik3JHRRHGJo
      uM2VcGfl96S8TihRzZvoroed6ti6WqEBmtzw3Wodatg+VyOeph4EYpr/1wXKtx8/
      wApIvJSwtmVi4MFU5aMqrSDE6ea73Mj2tcMyo5jMd6jmeWUHK8so/joWUoHOUgwu
      X4Po1QYz+3dszkDqMp4fklxBwXRsW10KXzPMTZ+sOPAveyxindmjkW8lGy+QsRlG
      PfZ+G6Z6h7mjem0Y+iWlkYcV4PIWL1iwBi8saCbGS5jN2p8M+X+Q7UNKEkROb3N6
      KOqkqm57TH2H3eDJAkSnh6/DNFu0Qg==
      -----END CERTIFICATE-----

      
      


  /etc/letsencrypt/live/cadmas.net/privkey.pem:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN PRIVATE KEY-----
      MIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQCsHfAJIoA93aIq
      IzqyFqkKHJOvlVYrvyfIJSGfFezypYNEqprnmEFgm6utA9Vz+5J0l4f5UjzIB7oO
      XelOAkdu24lXgRPfxJ0GY44do52KEdp6UA7ElgFhYH+GhKc2iduLTRVoFu6ctOoY
      ue97NbkXXv7BK9uesG3f7xCpqWlTyI/FA/TFAmUi5yw/Bjia2QQwEtH6FudyKB8Y
      gy2gk3T7nwZtgHZbr/zxrw5xxbYTj4ztympSthhKv5mp/zE2kqVF3hY7oVabDcyx
      rB8GDgrZy5qVDMywLzAArnBa/MlMNsiW1IMwBJvKpAZBv4gCS8CP8YE2v6jJrNEp
      QRDWn8gVAgMBAAECggEBAKvwOEMX2R50UrRffxo68uDsDUjhGTUYf6g8F6sxnwQC
      /fBRse9btSvKNyTeaJS1ouegHLCfS6LTvTTu8csBEdUXsMreYjku02J3f5fyQ8WS
      8jsv0KDn7TcWzC5YRCaCbvRoq9LQ3ctkG1taG3dtAprrRfk5U+rh+tEyo+WpHFQZ
      qkUN9lB8ZhiuhhPPBE0B3FhY7jzRNmirCpB5HmqBc84kc/XzBj1jgbSTN4osieR0
      3uJrYjEEjVxMLlUVTeESZkPv2GnznACd0tSSi0nOCMCa4EH5bJKse2enLHxxJYbX
      Unr/fdsPGqhzFtliS/oEpHzllNPum+vW0Sd6xQhOt/0CgYEA3J5yfRUxzr2aSfe+
      VqZgtjrWkgxZW+roLxnGP/EBFuUWIXDmCfxfA+lOcLyd9QfYPaodHMXiYWJ961Ph
      f762gzT/S/3ElMgvo5Fjr9OPTHMoyX+dfXrHXx2TtkXhlKV71cXtBeow7exJOQnC
      DIWbjhU4uyddQWmfpiFf6XQTbIsCgYEAx7g7W8gQOHejEBLvFps5yT5LGDqaNg3/
      wPbqMqT+uyNK+a2dxA7aKthVHpV+Y6dHQpkSYmThhCQezpRKVDASENgGzVzh2jQF
      wwsriMXW+/AaKnT5odzwm5wGi6lXXm2tKuNCUjEARNJO5s42pxbI6HDOG+tXiK1R
      pvYEjiNdEd8CgYEAlEbN7fGjwy69lv8yZyx1jaSn+AriuBt+p8Fr9Ce3srqPkDQ/
      9/AtsARLWwv6Ieh+1psR6/e3ufonZVXAFkqIglDJUTqit9h/5DBgTpkjE5/Ghv8F
      S4OMognP8E6xWWWLgFcBgdsvvYj0gahkSmQ1812h/m9rhv5FdbOyscX5FBcCgYAF
      PdiQ+Bc05C7rZRPRTBGgLnpaEG+rq4Ji1hgfbCUjVDHLi7rwQlOHfFX/j3zZsLI2
      FT5eRreEeE42rb2lp/1RY9oJ2b4zs9nS3KAv3sFdq1eEdb13egz2iInDcJZSbB53
      Wa+L6K1RIRPhCth0Wiy7rPo70VlixOm3sA0+jb8LkQKBgEp6UhQ7sIQAVQPzcMvW
      lFDKAe/XTWEgklfahFsM4zzxbIub3+RyZfAp7IHtSELictgTfPQBPaa/LAymYTeu
      iCi7QacTO3ajebeBaztthptaWbnifeMQrNJiL5n1Qz21G3PkqF66Pj341cRMY6BG
      x+E5hp69r5MtOkfBsZiRRKpK
      -----END PRIVATE KEY-----
      
