files:
  /etc/nginx/conf.d/http.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTP server

       server {
         listen       8080 default_server;
         listen [::]:80 default_server;
         return 301 https://$host$request_uri;
       }
container_commands:
  01_remove_default_conf:
    command: "sudo rm -f /etc/nginx/conf.d/00_elastic_beanstalk_proxy.conf"